.layout-main-detail{
    font-size: 16px;
    text-align: justify;
    padding: 18px 26px !important;

    .detail-title{
        font-size: 20px;
        padding: 18px 26px 12px;
    }
    .detail-summary{
        margin-bottom: 20px;
    }
    .toc-content{
        display: block;
        background-color: #f3f3f3;
        padding: 20px;
        margin: 0 0 20px;
        .title-toc-blog{
            font-weight: bold;
        }
        .my-toc-blog{
            padding: 0;
            ul{
                li{
                    a{
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 7px;
                        display: block;
                    }
                }
            }
        }
    }
    .detail-content{
        img{
            display: block;
            max-width: 100% !important;
            height: auto !important;
        }
        video, iframe{
            max-width: 100% !important;
        }
    }
}

nav[aria-label=breadcrumb]{
    border-bottom: none;
    margin-bottom: 0 !important;
    ol{
        justify-content: center;
    }
}
