.layout-page-news-list .layout-main{
    max-width: 100%;
    overflow: hidden;
}
.layout-main-detail{
    font-size: 16px;
    text-align: justify;
    padding: 18px 26px !important;
    max-width: 100%;
    overflow: hidden;

    .detail-title{
        font-size: 20px;
        padding: 18px 26px 12px;
    }
    .detail-summary{
        margin-bottom: 20px;
    }
    .toc-content{
        display: block;
        background-color: #f3f3f3;
        padding: 20px;
        margin: 0 0 20px;
        .title-toc-blog{
            font-weight: bold;
        }
        .my-toc-blog{
            padding: 0;
            ul{
                li{
                    a{
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 7px;
                        display: block;
                    }
                }
            }
        }
    }
    .detail-content{
        p{
            align-items: center;
            strong{
                display: contents;
            }
            img{
                margin: 20px 10px !important;
            }
        }
        img{
            display: block;
            max-width: 100% !important;
            height: auto !important;
            margin: 20px 0px;
        }
        video, iframe{
            max-width: 100% !important;
        }
        figure{
            text-align: center;
            p{
                display: unset;
                span{
                    text-align: center;
                }
            }
        }
        table{
            margin: 20px auto;
            width: 80%;
            max-width: 100%;
            tr{
                td{
                    border: 1px solid #999;
                    padding: 6px 12px;
                    p{
                        span{
                            font-family: unset !important;
                            background-color: unset !important;
                            font-size: unset !important;
                        }
                    }
                }
            }
            &:nth-child(odd){
                background-color: #f3f3f3;
            }
            &:first-child{
                background-color: #ccc;
            }
        }
    }
}
.list-product-article{
    .slick-arrow{
        box-shadow: 0 3px 6px rgba(0,0,0,.15);
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 1000%;
        &::before{
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: #000;
            font-size: 12px;
            opacity: 1;
        }
    }
    .slick-prev{
        left: 5px;
        &::before{
            content: "\f104";
        }
    }
    .slick-next{
        right: 5px;
        &::before{
            content: "\f105";

        }
    }
}

nav[aria-label=breadcrumb]{
    border-bottom: none;
    margin-bottom: 0 !important;
    ol{
        justify-content: center;
    }
}
