@use "app";
@use "style";
@use "template";
/* purgecss start ignore */
.autoComplete_wrapper {
    display: inline-block;
    position: relative;
}

.autoComplete_wrapper > input {
    height: 3rem;
    width: 370px;
    margin: 0;
    padding: 0 2rem 0 3.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: rgba(255, 122, 122, 0.3);
    outline: none;
    border-radius: 10rem;
    border: 0.05rem solid rgba(255, 122, 122, 0.5);
    background-image: url(../images/search.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.8rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
}

.autoComplete_wrapper > input::placeholder {
    color: rgba(255, 122, 122, 0.5);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:hover::placeholder {
    color: rgba(255, 122, 122, 0.6);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus::placeholder {
    padding: 0.1rem 0.6rem;
    font-size: 0.95rem;
    color: rgba(255, 122, 122, 0.4);
}

.autoComplete_wrapper > input:focus::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input:hover {
    color: rgba(255, 122, 122, 0.8);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus {
    color: rgba(255, 122, 122, 1);
    border: 0.06rem solid rgba(255, 122, 122, 0.8);
}

.autoComplete_wrapper > ul {
    position: absolute;
    max-height: 226px;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    border-radius: 0.6rem;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.07);
    box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
    outline: none;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.autoComplete_wrapper > ul[hidden],
.autoComplete_wrapper > ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
}

.autoComplete_wrapper > ul > li {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: rgba(255, 122, 122, 1);
    font-weight: bold;
}

.autoComplete_wrapper > ul > li:hover {
    cursor: pointer;
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > ul > li[aria-selected="true"] {
    background-color: rgba(255, 122, 122, 0.15);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper > input {
        width: 18rem;
    }
}
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
.layout-page-news-list .layout-main {
    max-width: 100%;
    overflow: hidden;
}
.layout-main-detail {
    font-size: 16px;
    text-align: justify;
    padding: 18px 26px !important;
    max-width: 100%;
    overflow: hidden;

    // .toc-content a, .detail-summary a, .detail-content a{
    //     text-decoration: underline;
    //     transition: all 0.3s;
    //     &:hover {
    //         color: #c73030 !important;
    //     }
    // }
    .toc-content p a,
    .detail-summary p a,
    .detail-content p a {
        // text-decoration: underline;
        transition: all 0.3s;
        color: #007bff;
        font-weight: bold;
        &:hover {
            color: #c73030 !important;
        }
    }
    .toc-content p span a,
    .detail-summary p span a,
    .detail-content p span a {
        // text-decoration: underline;
        transition: all 0.3s;
        color: #007bff;
        font-weight: bold;
        &:hover {
            color: #c73030 !important;
        }
    }
    .detail-title {
        font-size: 20px;
        padding: 18px 26px 12px;
    }
    .detail-summary {
        margin-bottom: 20px;
    }
    .toc-content {
        display: block;
        background-color: #f3f3f3;
        padding: 20px;
        margin: 0 0 20px;
        .title-toc-blog {
            font-weight: bold;
        }
        .my-toc-blog {
            padding: 0;
            ul {
                li {
                    a {
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 7px;
                        display: block;
                    }
                }
            }
        }
    }
    .detail-content {
        p {
            align-items: center;
            strong {
                display: contents;
            }
            img {
                margin: 0 auto !important;
            }
        }
        img {
            display: block;
            max-width: 100% !important;
            height: auto !important;
            margin: 20px 0px;
        }
        video,
        iframe {
            max-width: 100% !important;
        }
        figure {
            text-align: center;
            p {
                display: unset;
                span {
                    text-align: center;
                }
            }
        }
        table {
            margin: 20px auto;
            width: 80%;
            max-width: 100%;
            tr {
                td {
                    border: 1px solid #999;
                    padding: 6px 12px;
                    p {
                        span {
                            font-family: unset !important;
                            background-color: unset !important;
                            font-size: unset !important;
                        }
                    }
                }
            }
            &:nth-child(odd) {
                background-color: #f3f3f3;
            }
            &:first-child {
                background-color: #ccc;
            }
        }
        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
        blockquote p {
            display: inline;
        }
    }
    .blog-for-article {
        .title-blog {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
            span {
                position: relative;
                &:after {
                    content: "";
                    background: #c73030;
                    height: 2px;
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    width: 100%;
                }
            }
        }
        .detail-content-blog {
            .title-blog-item {
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
            .summary-blog {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
    }

    .faq-for-article {
        .title-faq {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
            span {
                position: relative;
                &:after {
                    content: "";
                    background: #c73030;
                    height: 2px;
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    width: 100%;
                }
            }
        }
        .detail-content-faq {
            .accordion-item {
                border-bottom: 1px solid #eee;
                padding-top: 15px;
                .panel-title {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    .accordion-button {
                        display: block;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:not(.collapsed) {
                            &:after {
                                content: url("../images/minus.png");
                            }
                        }
                    }
                    .collapsed {
                        &:after {
                            content: url("../images/plus.png");
                        }
                    }
                }
                .accordion-body {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}
.list-product-article {
    .slide-template-slick {
        max-height: 800px;
        overflow: hidden;
    }
    .title-product-same {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 20px;
        span {
            position: relative;
            &:after {
                content: "";
                background: #c73030;
                height: 2px;
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 100%;
            }
        }
    }
    .slick-arrow {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 1000%;
        &::before {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: #000;
            font-size: 12px;
            opacity: 1;
        }
    }
    .slick-prev {
        left: 5px;
        &::before {
            content: "\f104";
        }
    }
    .slick-next {
        right: 5px;
        &::before {
            content: "\f105";
        }
    }
}

nav[aria-label="breadcrumb"] {
    border-bottom: none;
    margin-bottom: 0 !important;
    ol {
        justify-content: center;
    }
}
/* purgecss end ignore */
@media (max-width: 960px) {
    .layout-main-detail .detail-content table {
        display: grid;
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
}
h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw) !important;
    span {
        font-family: unset !important;
    }
}
@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw) !important;
    span {
        font-family: unset !important;
    }
}
@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.75rem;
    }
}
