@use 'app';
@use 'style';
@use 'template';
/* purgecss start ignore */
.autoComplete_wrapper {
    display: inline-block;
    position: relative;
}

.autoComplete_wrapper > input {
    height: 3rem;
    width: 370px;
    margin: 0;
    padding: 0 2rem 0 3.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: rgba(255, 122, 122, 0.3);
    outline: none;
    border-radius: 10rem;
    border: 0.05rem solid rgba(255, 122, 122, 0.5);
    background-image: url(../images/search.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.8rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
}

.autoComplete_wrapper > input::placeholder {
    color: rgba(255, 122, 122, 0.5);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:hover::placeholder {
    color: rgba(255, 122, 122, 0.6);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus::placeholder {
    padding: 0.1rem 0.6rem;
    font-size: 0.95rem;
    color: rgba(255, 122, 122, 0.4);
}

.autoComplete_wrapper > input:focus::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input:hover {
    color: rgba(255, 122, 122, 0.8);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus {
    color: rgba(255, 122, 122, 1);
    border: 0.06rem solid rgba(255, 122, 122, 0.8);
}

.autoComplete_wrapper > ul {
    position: absolute;
    max-height: 226px;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    border-radius: 0.6rem;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.07);
    box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
    outline: none;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.autoComplete_wrapper > ul[hidden],
.autoComplete_wrapper > ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
}

.autoComplete_wrapper > ul > li {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: rgba(255, 122, 122, 1);
    font-weight: bold;
}

.autoComplete_wrapper > ul > li:hover {
    cursor: pointer;
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > ul > li[aria-selected="true"] {
    background-color: rgba(255, 122, 122, 0.15);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper > input {
        width: 18rem;
    }
}
.news-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0);
    .news-img{
        img{
            width: 100%;
        }
    }
    .news-title{
        font-size: 14px;
        margin-bottom: 0;
    }
    .news-time{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
    .news-summary{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        font-size: 14px;
    }
    .news-main{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &:hover{
        box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
    }
}

.layout-page-news-list{
    display: grid;
    grid-template-columns: 220px auto 220px;
    grid-gap: 15px;
    .layout-box{
        border-radius: 5px;
    }
    .layout-padding{
        padding: 8px;
    }
    .layout-title{
        border-bottom: 1px solid #d4d4d4;
        font-size: 18px;
        padding: 8px 0;
        &.text-red{
            color: #c73030;
        }
    }
    .layout-menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .category-item{
        display: flex;
        font-size: 14px;
        border-bottom: 1px solid #d4d4d4;
        padding: 10px 14px;
        &.level-1{
            padding-left: 30px;
        }
        &:hover, &.active{
            color: #c73030;
        }
    }
    .layout-relate{
        .layout-title{
            border-bottom: none;
        }
        .news-item{
            .news-time{
                display: none;
            }
            .news-summary{
                -webkit-line-clamp: 3;
            }
        }
    }
    .layout-main-content{
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-gap: 10px;
        .news-item{
            grid-column-start: 1;
            grid-column-end: 3;
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 4;
                .news-summary{
                    -webkit-line-clamp: 5;
                }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &:nth-child(2){
                .news-summary{
                    -webkit-line-clamp: 2;
                }
            }
            &:nth-child(3), &:nth-child(4){
                .news-title{
                    margin-bottom: 0;
                }
                .news-img, .news-summary, .news-time{
                    display: none;
                }
            }
            &:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
                flex-direction: row;
                gap: 10px;
                .news-img{
                    width: calc(40% - 5px);
                }
                .news-main{
                    width: calc(60% - 5px);
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .layout-page-news-list{
        display: flex;
        flex-wrap: wrap;
        .products-hot{
            display: none;
        }
        .news-categories{
            display: flex;
            align-items: center;
            overflow: auto;
            gap: 10px;
            white-space: nowrap;
            flex-wrap: nowrap;
            padding: 0 10px;
            p{
                display: none;
            }
        }
        .category-item{
            font-size: 14px;
            font-weight: 700;
            border-radius: 5px;
            border: 1px solid #000;
            padding: 6px 10px !important;
            background: #fff;
            &.active{
                color: #fff;
                background: #000;
            }
        }
        .layout-menu{
            width: 100%;
        }
    }
    .layout-page-news-list .layout-main-content{
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .layout-page-news-list .layout-main-content .news-item{
        grid-area: unset !important;
        flex-direction: row;
        gap: 10px;
        .news-img{
            display: block !important;
            width: calc(40% - 5px);
        }
        .news-main{
            width: calc(60% - 5px);
        }
        .news-time{
            display: flex !important;
        }
        .news-summary{
            display: -webkit-box !important;
            -webkit-line-clamp: 4;
        }
        &:nth-child(1) {
            flex-wrap: wrap;
            .news-img{
                width: 100%;
            }
            .news-main{
                width: 100%;
            }
            .news-summary{
                -webkit-line-clamp: 2;
            }
        }
    }
    .layout-relate{
        display: none;
    }
}

@media (max-width: 768px) {
    .layout-page-news-list{
        .products-hot{
        }
        .news-categories{
            p{
            }
        }
        .category-item{
            &.active{
            }
        }
        .layout-menu{
        }
    }
    .layout-page-news-list .layout-main-content{
    }
    .layout-page-news-list .layout-main-content .news-item{
        display: block;
        .news-img{
            width: 100%;
        }
        .news-main{
            width: 100%;
        }
        .news-time{
            display: flex !important;
        }
        .news-summary{
            display: -webkit-box !important;
            -webkit-line-clamp: 4;
        }
        &:nth-child(1) {
            flex-wrap: wrap;
            .news-img{
                width: 100%;
            }
            .news-main{
                width: 100%;
            }
            .news-summary{
            }
        }
        &:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
            .news-img{
                width: 100%;
            }
            .news-main{
                width: 100%;
            }
        }
    }
    .layout-relate{
        display: none;
    }
}

/* purgecss end ignore */
