.news-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0);
    .news-img{
        img{
            width: 100%;
        }
    }
    .news-title{
        font-size: 14px;
        margin-bottom: 0;
    }
    .news-time{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
    .news-summary{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        font-size: 14px;
    }
    .news-main{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &:hover{
        box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
    }
}

.layout-page-news-list{
    display: grid;
    grid-template-columns: 220px auto 220px;
    grid-gap: 15px;
    .layout-box{
        border-radius: 5px;
    }
    .layout-padding{
        padding: 8px;
    }
    .layout-title{
        border-bottom: 1px solid #d4d4d4;
        font-size: 18px;
        padding: 8px 0;
        &.text-red{
            color: #c73030;
        }
    }
    .layout-menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .category-item{
        display: flex;
        font-size: 14px;
        border-bottom: 1px solid #d4d4d4;
        padding: 10px 14px;
        &.level-1{
            padding-left: 30px;
        }
        &:hover, &.active{
            color: #c73030;
        }
    }
    .layout-relate{
        .layout-title{
            border-bottom: none;
        }
        .news-item{
            .news-time{
                display: none;
            }
            .news-summary{
                -webkit-line-clamp: 3;
            }
        }
    }
    .layout-main-content{
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-gap: 10px;
        .news-item{
            grid-column-start: 1;
            grid-column-end: 3;
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 4;
                .news-summary{
                    -webkit-line-clamp: 5;
                }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &:nth-child(2){
                .news-summary{
                    -webkit-line-clamp: 2;
                }
            }
            &:nth-child(3), &:nth-child(4){
                .news-title{
                    margin-bottom: 0;
                }
                .news-img, .news-summary, .news-time{
                    display: none;
                }
            }
            &:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
                flex-direction: row;
                gap: 10px;
                .news-img{
                    width: calc(40% - 5px);
                }
                .news-main{
                    width: calc(60% - 5px);
                }
            }
        }
    }
}

