@use 'app';
@use 'style';
@use 'template';
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~@tarekraafat/autocomplete.js/dist/css/autoComplete.css";
.section-banner-top{
    padding-left: 220px;
    height: 400px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    .banner-slide{
        width: calc(100% - 400px);
        @media (max-width: 768px) {
            max-height: 236px;
            overflow: hidden;
        }
    }
    .banner-wrap{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .slick-dots{
        position: absolute;
        bottom: 20px;
        >li{
            width: auto;
            height: auto;
            button{
                padding: 0;
                background: #fff;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                margin: 0;
                &::before{
                    display: none;
                }
            }
        }
        .slick-active{
            button{
                background:#707070;
            }
        }
    }
    .slick-prev{
        left: 15px;
        z-index: 1;
    }
    .slick-next{
        right: 15px;
        z-index: 1;
    }
}
.list-coupon{
    margin-bottom: 30px;
    h2{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .slide-main-coupon{
        .slide-template-slick-coupon{
            max-height: 123px;
            overflow: hidden;
            img{
                display: none;
            }
            &.slick-initialized {
                img{
                    display: block;
                }
            }

            .item-coupon{
                background: url("../images/coupon-s.png") no-repeat left center;
                background-size: cover;
                .box-coupon-right{
                    border-left: 1px dotted #ddd;
                }

                .box-coupon{
                    padding: 10px;
                    .sub-title-coupon{
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        margin-bottom: 2px;
                    }
                    .voucher-detail{
                        color: #707070;
                        font-size: 12px;
                        p{
                            font-size: 11px;
                            margin-bottom: 4px;
                        }
                    }
                    .progress{
                        height: 4px;
                    }
                    .btn-call-modal{
                        color: #C73030;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    button{
                        color: #FFF;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
                .box-coupon-left{
                    padding-left: 20px;
                }
            }
        }
        .slick-arrow{
            box-shadow: 0 3px 6px rgba(0,0,0,.15);
            width: 20px;
            height: 20px;
            z-index: 1;
            border-radius: 1000%;
            &::before{
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                color: #000;
                font-size: 12px;
                opacity: 1;
            }
        }
        .slick-prev{
            left: 5px;
            &::before{
                content: "\f104";
            }
        }
        .slick-next{
            right: 5px;
            &::before{
                content: "\f105";

            }
        }
    }
}
.slide-template{
    .slide-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        border-bottom: 1px solid #e5e4e4;
        padding: 0 10px;
    }
    .slide-more{
        color: #c73030;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .slide-title{
        font-size: 16px;
        text-transform: uppercase;
        color: #c73030;
        h2{
            font-size: inherit;
            margin: 0;
            font-weight: 700;
        }
        h3{
            font-size: inherit;
            color: #000;
            margin: 0;
            font-weight: 700;
        }
    }
    .slide-main{
        padding: 5px;
    }
    .slick-arrow{
        box-shadow: 0 3px 6px rgba(0,0,0,.15);
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 1000%;
        &::before{
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: #000;
            font-size: 12px;
            opacity: 1;
        }
    }
    .slick-prev{
        left: 5px;
        &::before{
            content: "\f104";
        }
    }
    .slick-next{
        right: 5px;
        &::before{
            content: "\f105";

        }
    }
}

.section-product-category{
    .section-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        background: #e5e4e4;
        padding-right: 10px;
        font-size: 14px;
    }
    .section-more{
        color: #c73030;
        font-size: 14px;
        font-weight: 700;
    }
    .section-menu{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .section-sub-menu{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            color: #707070;
            &:hover{
                font-weight: 700;
                color: #000;
            }
        }
    }
    .section-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 55px;
        width: 220px;
        background: #171717;
        color: #fff;
        h2{
            font-size: 14px;
            font-weight: 700;
        }
        &::before{
            content: '';
            position: absolute;
            top: -10px;
            right: 0;
            width: calc(100% + 15px);
            border-radius: 0 15px 0 0;
            background: #171717;
            height: 10px;
        }
        &::after{
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            width: 0;
            height: 0;
            border-top: 53px solid #171717;
            border-bottom: 15px solid transparent;
            border-right: 15px solid #171717;
        }
    }
    .slide-template-slick{
        max-height: 352px;
        overflow: hidden;
        img{
            display: none;
        }
        &.slick-initialized {
            img{
                display: block;
            }
        }
    }
    .section-main{
        display: flex;
        gap: 10px;
    }
    .section-poster{
        width: 220px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .section-content{
        width: calc((100% - 230px));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0 10px;
        padding: 10px 0;
        padding-right: 10px;
    }
    .section:nth-child(2n){
        .section-top{
            flex-direction: row-reverse;
            padding-left: 10px;
            padding-right: 0;
        }
        .section-menu{
            flex-direction: row-reverse;
        }
        .section-title{
            &::before{
                border-radius: 15px 0 0 0;
                right: -15px;
            }
            &::after{
                left: unset;
                right: -15px;
                border-right: none;
                border-left: 15px solid #171717;
            }
        }
        .section-main{
            flex-direction: row-reverse;
        }
        .section-content{
            padding-right: 0;
            padding-left: 10px;
        }
    }
}

.section-banner-middle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.section-article{
    .section-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        a:nth-child(1){
            h2{
                font-size: 16px;
                color: #000;
                font-weight: 700;
            }
        }
        a:nth-child(2){
            color: #c73030;
            font-size: 14px;
            font-weight: 700;
        }
    }
    .section-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .article-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .article-img{
            height: 500px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                transition: 0.2s ease-in-out;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg,rgba(0,0,0,.6) 5%,hsla(0,0%,100%,.2) 80%);
                opacity: 0.75;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .article-title{
            background: #171717;
            color: #fff;
            border-radius: 10px;
            padding: 8px 12px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            span{
                font-size: 16px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                height: 120px;
            }
        }

        &:hover{
            .article-img{
                &::before{
                    opacity: 1;
                    background: linear-gradient(0deg,rgba(0,0,0,.6) 50%,hsla(0,0%,100%,.2));
                }
            }
        }
    }
}

.section-store{
    margin-top: 56px;

    .slick-list {
        margin: 0 -15px;
    }

    .slick-slide {
        > div {
            padding: 0 15px;
        }
    }
    .section-top{
        h2{
            position: relative;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
            color: #000000;
            text-align: center;
            text-transform: uppercase;

            &:before {
                content: '';
                position: absolute;
                top: 27px;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 2px;
                z-index: 2;
                width: 14%;
                border-bottom: 1px solid #000000;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .ccs-item-store--img{
        display: block;
        background: #f3f3f3;
        border-radius: 50%;
        height: calc(100vw / 6 - 25px);

        @media (min-width: 1200px) {
            height: calc(1140px / 6 - 25px);
        }

        @media (min-width: 1300px) {
            height: calc(1200px / 6 - 25px);
        }

        @media (min-width: 1400px) {
            height: calc(1320px / 6 - 25px);
        }
        @media (max-width: 768px) {
            height: calc(100vw / 2 - 25px);
        }

        > img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin: auto;
            box-sizing: border-box;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
        }
    }
    .ccs-item-store--text{
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        > span {
            text-align: center;

            &:last-child {
                margin-top: 8px;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
            }

            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
        }
    }
}

.section-categories-mobile{
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    font-size: 12px;
    img{
        width: 35px;
        height: 35px;
        object-fit: contain;
        margin-bottom: 5px;
    }
    .section-icon{
        background: #c73030;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3px;
        padding: 4px;
        span{
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background: #fff;
        }
    }
}

.modal-full{
    font-size: 14px;
    font-weight: 700;
    .modal-dialog{
        margin: 0;
        height: 100%;
    }
    .modal-content{
        border-radius: 0;
        border: none;
        height: 100%;
    }
    .item-cate{
        padding: 10px 0;
        border-bottom: 1px solid #bebebe;
        gap: 20px;
    }
    .cate-parent{
        max-width: calc(100% - 40px);
    }
    .cate-child{
        padding: 10px 0;
        border-bottom: 1px solid #bebebe;
    }
    .btn-collapse{
        position: relative;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: '';
            width: 12px;
            height: 2px;
            background: #000;
            position: absolute;
        }
        &::after{
            content: '';
            width: 12px;
            height: 2px;
            background: #000;
            transform: rotate(90deg);
            position: absolute;
            transition: 0.3s ease-in-out;
        }
        &[aria-expanded=true]{
            &::after{
                transform: rotate(0deg);
            }
        }
    }
}

.section-flash-mobile{
    .slide-top {
        .count-down{
            color: #000;
            span{
                color: #fff;
                background: #c73030;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height: 22px;
            }
        }
    }
}

@media (max-width: 960px) {
    .section-banner-top{
        padding-left: 0;
        height: auto;
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
    }
    .section-banner-top .banner-wrap{
        display: none;
    }
    .section-banner-top .banner-slide{
        width: 100%
    }
    .section-product-category .section-poster{
        display: none;
    }
    .section-product-category .section-content{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 10px !important;
    }
    .section-product-category .section-sub-menu{
        display: none;
    }
    .section-product-category .section-title::before{
        display: none;
    }
    .section-product-category .section-title::after{
        display: none;
    }
    .section-product-category .section:nth-child(2n) .section-top{
        flex-direction: row;
        padding-left: 0;
        padding-right: 10px;
    }
    .section-banner-middle{
        display: none;
    }
    .section-article{
        display: none;
    }

    .slide-template .slide-title{
        font-size: 14px;
    }
    .slide-template .slide-more{
        font-size: 14px;
    }
}
#info-coupon-detail{
.modal-header{
    .modal-title{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}
    .modal-body{
        .box1{
            color:#707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            b{
                display: block;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }
        }
        .box2{
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .coupon-here{
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
            }
        }
        .box3{
            color: #707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            p{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 5px;
                color: #000;
            }
        }
        .box4{
            color: #707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            .detail-coupon{
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
    .modal-footer{
        button{
            width: 100%;
        }
    }
}
