@use 'app';
@use 'style';
@use 'template';
/* purgecss start ignore */

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1; }
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
 }
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
    display: block;
    width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
.owl-carousel.owl-loaded {
    display: block; }
.owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
.owl-carousel.owl-hidden {
    opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
.owl-carousel.owl-rtl {
    direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
    float: right; }

.no-js .owl-carousel {
    display: block; }

.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
    z-index: 0; }

.owl-carousel .owl-animated-out {
    z-index: 1; }

.owl-carousel .fadeOut {
    animation-name: fadeOut; }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

.owl-height {
    transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
 }
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }


.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("../images/owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

.owl-carousel {
    display: block;
}

.owl-carousel .slide-owl-wrap:not(:first-child) {
    display: none;
}

.owl-carousel img {
    width: 100%;
}

.owl-carousel .owl-stage{
    margin: 0 auto;
}
.autoComplete_wrapper {
    display: inline-block;
    position: relative;
}

.autoComplete_wrapper > input {
    height: 3rem;
    width: 370px;
    margin: 0;
    padding: 0 2rem 0 3.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: rgba(255, 122, 122, 0.3);
    outline: none;
    border-radius: 10rem;
    border: 0.05rem solid rgba(255, 122, 122, 0.5);
    background-image: url(../images/search.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.8rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
}

.autoComplete_wrapper > input::placeholder {
    color: rgba(255, 122, 122, 0.5);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:hover::placeholder {
    color: rgba(255, 122, 122, 0.6);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus::placeholder {
    padding: 0.1rem 0.6rem;
    font-size: 0.95rem;
    color: rgba(255, 122, 122, 0.4);
}

.autoComplete_wrapper > input:focus::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input::selection {
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > input:hover {
    color: rgba(255, 122, 122, 0.8);
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

.autoComplete_wrapper > input:focus {
    color: rgba(255, 122, 122, 1);
    border: 0.06rem solid rgba(255, 122, 122, 0.8);
}

.autoComplete_wrapper > ul {
    position: absolute;
    max-height: 226px;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    border-radius: 0.6rem;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.07);
    box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
    outline: none;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.autoComplete_wrapper > ul[hidden],
.autoComplete_wrapper > ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
}

.autoComplete_wrapper > ul > li {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: rgba(255, 122, 122, 1);
    font-weight: bold;
}

.autoComplete_wrapper > ul > li:hover {
    cursor: pointer;
    background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_wrapper > ul > li[aria-selected="true"] {
    background-color: rgba(255, 122, 122, 0.15);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper > input {
        width: 18rem;
    }
}

.slick-track{
    left:unset;
    top: unset;
}
.section-banner-top{
    padding-left: 220px;
    height: 400px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    .banner-slide{
        width: 700px;
        @media (max-width: 768px) {
            max-height: 236px;
            height: 236px;
            overflow: hidden;
        }
        .banner-slick{
            position: relative;
            .owl-nav{
                .owl-prev,
                .owl-next{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 25px;
                    height: 25px;
                    background: #ffffff4f;
                    color: #fff;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 24px;
                    line-height: 23px;
                }
                .owl-prev{
                    left: 5px;
                }
                .owl-next{
                    right: 5px;
                }
            }
            .owl-dots{
                position: absolute;
                bottom: 20px; /* Cách dưới 20px */
                width: 100%;
                display: flex;
                justify-content: center;
                .owl-dot {
                    background-color: #fff;
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                    border-radius: 50%;
                    transition: background-color 0.3s ease-in-out;
                    &.active {
                        background-color: #a2a5a7; /* Màu sắc khi nút đó được chọn */
                    }
                }
            }
        }
    }
    .banner-wrap{
        width: calc(100% - 700px);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    //.slick-dots{
    //    position: absolute;
    //    bottom: 20px;
    //    >li{
    //        width: auto;
    //        height: auto;
    //        button{
    //            padding: 0;
    //            background: #fff;
    //            border-radius: 100%;
    //            width: 10px;
    //            height: 10px;
    //            margin: 0;
    //            &::before{
    //                display: none;
    //            }
    //        }
    //    }
    //    .slick-active{
    //        button{
    //            background:#707070;
    //        }
    //    }
    //}
    //.slick-prev{
    //    left: 15px;
    //    z-index: 1;
    //}
    //.slick-next{
    //    right: 15px;
    //    z-index: 1;
    //}
}
.list-coupon{
    margin-bottom: 30px;
    h2{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .slide-main-coupon{
        .slide-template-slide-coupon{
            max-height: 123px;
            overflow: hidden;
            @media (max-width: 768px) {
                max-height: 123px;
                height: 123px;
                overflow: hidden;
            }

            .item-coupon{
                background: url("../images/coupon-s.png") no-repeat left center;
                background-size: cover;
                .box-coupon-right{
                    border-left: 1px dotted #ddd;
                }

                .box-coupon{
                    padding: 10px;
                    .sub-title-coupon{
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        margin-bottom: 2px;
                    }
                    .voucher-detail{
                        color: #707070;
                        font-size: 12px;
                        p{
                            font-size: 11px;
                            margin-bottom: 4px;
                        }
                    }
                    .progress{
                        height: 4px;
                    }
                    .btn-call-modal{
                        color: #C73030;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    button{
                        color: #FFF;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
                .box-coupon-left{
                    padding-left: 20px;
                }
            }
        }
        .slick-arrow{
            box-shadow: 0 3px 6px rgba(0,0,0,.15);
            width: 20px;
            height: 20px;
            z-index: 1;
            border-radius: 1000%;
            &::before{
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                color: #000;
                font-size: 12px;
                opacity: 1;
            }
        }
        .slick-prev{
            left: 5px;
            &::before{
                content: "\f104";
            }
        }
        .slick-next{
            right: 5px;
            &::before{
                content: "\f105";

            }
        }
    }
}
.slide-template{
    .slide-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        border-bottom: 1px solid #e5e4e4;
        padding: 0 10px;
    }
    .slide-more{
        color: #c73030;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .slide-title{
        font-size: 16px;
        text-transform: uppercase;
        color: #c73030;
        h2{
            font-size: inherit;
            margin: 0;
            font-weight: 700;
        }
        h3{
            font-size: inherit;
            color: #000;
            margin: 0;
            font-weight: 700;
        }
    }
    .slide-main{
        padding: 5px;
        .slide-template-slide{
            max-height: 352px;
            overflow: hidden;
            @media (max-width: 768px) {
                min-height: 255px;
                overflow: hidden;
            }
        }
        .slide-brand{
            @media (max-width: 768px) {
                min-height: auto;
            }
        }
    }
    .owl-nav{
        .owl-prev,
        .owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background: #ffffff4f;
            box-shadow: 0 3px 6px rgba(0,0,0,.15);
            color: #000;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 24px;
            line-height: 23px;
        }
        .owl-prev{
            left: 5px;
        }
        .owl-next{
            right: 5px;
        }
    }
    //.slick-arrow{
    //    box-shadow: 0 3px 6px rgba(0,0,0,.15);
    //    width: 20px;
    //    height: 20px;
    //    z-index: 1;
    //    border-radius: 1000%;
    //    &::before{
    //        font-family: "Font Awesome 6 Free";
    //        font-weight: 900;
    //        color: #000;
    //        font-size: 12px;
    //        opacity: 1;
    //    }
    //}
    //.slick-prev{
    //    left: 5px;
    //    &::before{
    //        content: "\f104";
    //    }
    //}
    //.slick-next{
    //    right: 5px;
    //    &::before{
    //        content: "\f105";
    //
    //    }
    //}
}

.section-product-category{
    .section-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        background: #e5e4e4;
        padding-right: 10px;
        font-size: 14px;
    }
    .section-more{
        color: #c73030;
        font-size: 14px;
        font-weight: 700;
    }
    .section-menu{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .section-sub-menu{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            color: #707070;
            &:hover{
                font-weight: 700;
                color: #000;
            }
        }
    }
    .section-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 55px;
        width: 220px;
        background: #171717;
        color: #fff;
        h2{
            font-size: 14px;
            font-weight: 700;
        }
        &::before{
            content: '';
            position: absolute;
            top: -10px;
            right: 0;
            width: calc(100% + 15px);
            border-radius: 0 15px 0 0;
            background: #171717;
            height: 10px;
        }
        &::after{
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            width: 0;
            height: 0;
            border-top: 53px solid #171717;
            border-bottom: 15px solid transparent;
            border-right: 15px solid #171717;
        }
    }
    .section-main{
        display: flex;
        gap: 10px;
    }
    .section-poster{
        width: 220px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .section-content{
        width: calc((100% - 230px));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0 10px;
        padding: 10px 0;
        padding-right: 10px;
    }
    .section:nth-child(2n){
        .section-top{
            flex-direction: row-reverse;
            padding-left: 10px;
            padding-right: 0;
        }
        .section-menu{
            flex-direction: row-reverse;
        }
        .section-title{
            &::before{
                border-radius: 15px 0 0 0;
                right: -15px;
            }
            &::after{
                left: unset;
                right: -15px;
                border-right: none;
                border-left: 15px solid #171717;
            }
        }
        .section-main{
            flex-direction: row-reverse;
        }
        .section-content{
            padding-right: 0;
            padding-left: 10px;
        }
    }
}

.section-banner-middle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.section-article{
    .section-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        a:nth-child(1){
            h2{
                font-size: 16px;
                color: #000;
                font-weight: 700;
            }
        }
        a:nth-child(2){
            color: #c73030;
            font-size: 14px;
            font-weight: 700;
        }
    }
    .section-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .article-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .article-img{
            height: 500px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                transition: 0.2s ease-in-out;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg,rgba(0,0,0,.6) 5%,hsla(0,0%,100%,.2) 80%);
                opacity: 0.75;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .article-title{
            background: #171717;
            color: #fff;
            border-radius: 10px;
            padding: 8px 12px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            span{
                font-size: 16px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                height: 120px;
            }
        }

        &:hover{
            .article-img{
                &::before{
                    opacity: 1;
                    background: linear-gradient(0deg,rgba(0,0,0,.6) 50%,hsla(0,0%,100%,.2));
                }
            }
        }
    }
}

.section-store{
    margin-top: 56px;

    .slick-list {
        margin: 0 -15px;
    }

    .slick-slide {
        > div {
            padding: 0 15px;
        }
    }
    .section-top{
        h2{
            position: relative;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
            color: #000000;
            text-align: center;
            text-transform: uppercase;

            &:before {
                content: '';
                position: absolute;
                top: 27px;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 2px;
                z-index: 2;
                width: 14%;
                border-bottom: 1px solid #000000;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .ccs-item-store--img{
        display: block;
        background: #f3f3f3;
        border-radius: 50%;
        height: calc(100vw / 6 - 25px);

        @media (min-width: 1200px) {
            height: calc(1140px / 6 - 25px);
        }

        @media (min-width: 1300px) {
            height: calc(1200px / 6 - 25px);
        }

        @media (min-width: 1400px) {
            height: calc(1320px / 6 - 25px);
        }
        @media (max-width: 768px) {
            height: calc(100vw / 2 - 25px);
        }

        > img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin: auto;
            box-sizing: border-box;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
        }
    }
    .ccs-item-store--text{
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        > span {
            text-align: center;

            &:last-child {
                margin-top: 8px;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
            }

            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
        }
    }
}

.section-categories-mobile{
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    font-size: 12px;
    img{
        width: 35px;
        height: 35px;
        object-fit: contain;
        margin-bottom: 5px;
    }
    .section-icon{
        background: #c73030;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3px;
        padding: 4px;
        span{
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background: #fff;
        }
    }
}

.modal-full{
    font-size: 14px;
    font-weight: 700;
    .modal-dialog{
        margin: 0;
        height: 100%;
    }
    .modal-content{
        border-radius: 0;
        border: none;
        height: 100%;
    }
    .item-cate{
        padding: 10px 0;
        border-bottom: 1px solid #bebebe;
        gap: 20px;
    }
    .cate-parent{
        max-width: calc(100% - 40px);
    }
    .cate-child{
        padding: 10px 0;
        border-bottom: 1px solid #bebebe;
    }
    .btn-collapse{
        position: relative;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: '';
            width: 12px;
            height: 2px;
            background: #000;
            position: absolute;
        }
        &::after{
            content: '';
            width: 12px;
            height: 2px;
            background: #000;
            transform: rotate(90deg);
            position: absolute;
            transition: 0.3s ease-in-out;
        }
        &[aria-expanded=true]{
            &::after{
                transform: rotate(0deg);
            }
        }
    }
}

.section-flash-mobile{
    .slide-top {
        .count-down{
            color: #000;
            span{
                color: #fff;
                background: #c73030;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height: 22px;
            }
        }
    }
    .slide-main{
        padding: 5px;
        .slide-template-slide{
            max-height: 352px;
            overflow: hidden;
            @media (max-width: 768px) {
                min-height: 255px;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 960px) {
    .section-banner-top{
        padding-left: 0;
        height: auto;
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
    }
    .section-banner-top .banner-wrap{
        display: none;
    }
    .section-banner-top .banner-slide{
        width: 100%
    }
    .section-product-category .section-poster{
        display: none;
    }
    .section-product-category .section-content{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 10px !important;
    }
    .section-product-category .section-sub-menu{
        display: none;
    }
    .section-product-category .section-title::before{
        display: none;
    }
    .section-product-category .section-title::after{
        display: none;
    }
    .section-product-category .section:nth-child(2n) .section-top{
        flex-direction: row;
        padding-left: 0;
        padding-right: 10px;
    }
    .section-banner-middle{
        display: none;
    }
    .section-article{
        display: none;
    }

    .slide-template .slide-title{
        font-size: 14px;
    }
    .slide-template .slide-more{
        font-size: 14px;
    }
}
#info-coupon-detail{
.modal-header{
    .modal-title{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}
    .modal-body{
        .box1{
            color:#707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            b{
                display: block;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }
        }
        .box2{
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .coupon-here{
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
            }
        }
        .box3{
            color: #707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            p{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 5px;
                color: #000;
            }
        }
        .box4{
            color: #707070;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            .detail-coupon{
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
    .modal-footer{
        button{
            width: 100%;
        }
    }
}
/* purgecss end ignore */
