.layout-page-news-list .layout-main {
  max-width: 100%;
  overflow: hidden;
}

.layout-main-detail {
  font-size: 16px;
  text-align: justify;
  padding: 18px 26px !important;
  max-width: 100%;
  overflow: hidden;
}
.layout-main-detail .detail-title {
  font-size: 20px;
  padding: 18px 26px 12px;
}
.layout-main-detail .detail-summary {
  margin-bottom: 20px;
}
.layout-main-detail .toc-content {
  display: block;
  background-color: #f3f3f3;
  padding: 20px;
  margin: 0 0 20px;
}
.layout-main-detail .toc-content .title-toc-blog {
  font-weight: bold;
}
.layout-main-detail .toc-content .my-toc-blog {
  padding: 0;
}
.layout-main-detail .toc-content .my-toc-blog ul li a {
  font-size: 14px;
  color: #000;
  margin-bottom: 7px;
  display: block;
}
.layout-main-detail .detail-content p {
  align-items: center;
}
.layout-main-detail .detail-content p strong {
  display: contents;
}
.layout-main-detail .detail-content p img {
  margin: 0 auto !important;
}
.layout-main-detail .detail-content img {
  display: block;
  max-width: 65% !important;
  height: auto !important;
  margin: 20px 0px;
}
.layout-main-detail .detail-content video, .layout-main-detail .detail-content iframe {
  max-width: 100% !important;
}
.layout-main-detail .detail-content figure {
  text-align: center;
}
.layout-main-detail .detail-content figure p {
  display: unset;
}
.layout-main-detail .detail-content figure p span {
  text-align: center;
}
.layout-main-detail .detail-content table {
  margin: 20px auto;
  width: 80%;
  max-width: 100%;
}
.layout-main-detail .detail-content table tr td {
  border: 1px solid #999;
  padding: 6px 12px;
}
.layout-main-detail .detail-content table tr td p span {
  font-family: unset !important;
  background-color: unset !important;
  font-size: unset !important;
}
.layout-main-detail .detail-content table:nth-child(odd) {
  background-color: #f3f3f3;
}
.layout-main-detail .detail-content table:first-child {
  background-color: #ccc;
}
.layout-main-detail .faq-for-article .title-faq {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.layout-main-detail .faq-for-article .title-faq span {
  position: relative;
}
.layout-main-detail .faq-for-article .title-faq span:after {
  content: "";
  background: #C73030;
  height: 2px;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
}

.list-product-article .slick-arrow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 1000%;
}
.list-product-article .slick-arrow::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #000;
  font-size: 12px;
  opacity: 1;
}
.list-product-article .slick-prev {
  left: 5px;
}
.list-product-article .slick-prev::before {
  content: "\f104";
}
.list-product-article .slick-next {
  right: 5px;
}
.list-product-article .slick-next::before {
  content: "\f105";
}

nav[aria-label=breadcrumb] {
  border-bottom: none;
  margin-bottom: 0 !important;
}
nav[aria-label=breadcrumb] ol {
  justify-content: center;
}
