.layout-page-product-detail {
  display: flex;
  gap: 20px;
}
.layout-page-product-detail .layout-left {
  width: calc(80% - 10px);
}
.layout-page-product-detail .layout-right {
  width: calc(20% - 10px);
}

.layout-box {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.layout-box:last-child {
  margin-bottom: 0;
}

.layout-padding {
  padding: 15px 10px;
}

.more-brand {
  text-align: center;
  display: block;
  padding: 10px 0;
  background: #e5e4e4;
  font-size: 12px;
  color: #707070;
}

.layout-title {
  font-size: 15px;
}

.layout-content-text {
  font-size: 16px;
}
.layout-content-text img {
  display: block;
  max-width: 100% !important;
  height: auto !important;
  margin-right: auto;
  margin-left: auto;
}
.layout-content-text video, .layout-content-text iframe {
  max-width: 100% !important;
}

.h4-title {
  font-size: 14px;
  color: #272727;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 5px;
}

.product-attribute {
  border: 1px solid #e5e4e4;
  border-radius: 5px;
  font-size: 15px;
}
.product-attribute .attribute-item {
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid #e5e4e4;
}
.product-attribute .attribute-item:last-child {
  border-bottom: none;
}
.product-attribute .attribute-title {
  padding: 10px 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding-left: 40px;
}
.product-attribute .attribute-value {
  padding: 10px 12px;
  padding-left: 100px;
}

#navbar-detail {
  position: sticky;
  top: 60px;
  padding: 0;
}
#navbar-detail ul {
  display: flex;
  align-items: center;
  height: 44px;
  flex-wrap: nowrap;
  width: 100%;
  white-space: nowrap;
}
#navbar-detail ul li {
  width: 100%;
  height: 100%;
}
#navbar-detail ul li:last-child a {
  border-right: none;
}
#navbar-detail ul a {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid #e5e4e4;
  border-bottom: 1px solid #e5e4e4;
  border-radius: 0;
}
#navbar-detail ul a.active, #navbar-detail ul a:hover {
  border-bottom: 2px solid #c73030;
  background: #fff;
}

.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
}
.star-rating::before {
  content: "\f005\f005\f005\f005\f005";
  background: linear-gradient(90deg, #c73030 var(--percent), #B2B2B2 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-detail {
  display: grid;
  grid-template-columns: 436px auto;
  grid-gap: 25px;
}
.product-detail .detail-brand {
  font-size: 16px;
  color: #c73030;
}
.product-detail .detail-title {
  font-size: 18px;
}
.product-detail .detail-sku {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
.product-detail .detail-sku .review-count {
  color: #f0aab9;
  text-decoration: underline;
}
.product-detail .detail-price .public-price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.product-detail .detail-price .public-price span {
  font-size: 18px;
  color: #c73030;
}
.product-detail .detail-price .origin-price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.product-detail .detail-price .origin-price span:last-child {
  color: #c73030;
}
.product-detail .detail-relate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.product-detail .detail-relate a {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #707070;
}
.product-detail .detail-relate a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-detail .detail-relate a.active {
  border: 2px solid #c73030;
}
.product-detail .detail-quantity {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product-detail .detail-quantity input {
  width: 100px;
}
.product-detail .detail-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-detail .detail-button .btn {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 0 12px;
  width: 150px;
  border-radius: 5px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
}
.product-detail .detail-button .btn:hover {
  opacity: 0.8;
}
.product-detail .detail-button .btn-add-card {
  color: #fff;
  background: #000;
}
.product-detail .detail-button .btn-buy-now {
  color: #fff;
  background: #c73030;
}
.product-detail .detail-button .btn-address {
  font-size: 12px;
  border: 1px solid #000;
}
.product-detail .detail-button .btn-address i {
  color: #306E51;
  font-size: 22px;
}
.product-detail .detail-addess-box {
  width: 350px;
  border: 1px solid #000;
  border-radius: 0;
  padding: 8px 16px 0;
  max-height: 400px;
  overflow: auto;
}
.product-detail .detail-addess-box::-webkit-scrollbar {
  width: 5px;
}
.product-detail .detail-addess-box::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}
.product-detail .detail-addess-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #000;
}
.product-detail .detail-addess-box::-webkit-scrollbar-thumb:hover {
  background: #000;
}
.product-detail .detail-addess-box .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #000;
  padding: 8px 16px;
  width: calc(100% + 32px);
  margin: 0 -16px;
  font-size: 14px;
}
.product-detail .detail-addess-box .contact span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product-detail .detail-addess-box .contact span a:hover {
  color: #fff;
}
.product-detail .address-item {
  margin-bottom: 10px;
}
.product-detail .address-item i {
  color: #306E51;
  font-size: 18px;
}
.product-detail .address-item .address-title {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
}
.product-detail .address-item .group-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
.product-detail .address-item .group-item {
  padding-left: 21px;
  font-size: 12px;
}
.product-detail .address-item .group-item span {
  color: #c73030;
}
.product-detail .detail-thumbnail {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.product-detail .thumbnail-nav {
  padding: 5px;
  max-height: 385px;
  overflow: auto;
}
.product-detail .thumbnail-nav::-webkit-scrollbar {
  width: 5px;
}
.product-detail .thumbnail-nav::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}
.product-detail .thumbnail-nav::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #000;
}
.product-detail .thumbnail-nav::-webkit-scrollbar-thumb:hover {
  background: #000;
}
.product-detail .thumbnail-nav .thumbnail-item {
  border-radius: 5px;
  border: 1px solid #e5e4e4;
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
  width: 56px;
  height: 56px;
}
.product-detail .thumbnail-nav .thumbnail-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-detail .thumbnail-nav .thumbnail-item:last-child {
  margin-bottom: 0;
}
.product-detail .thumbnail-nav .thumbnail-item.active {
  border-color: #c73030;
}
.product-detail .detail-flash-progess {
  width: 450px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-detail .detail-flash-progess span {
  white-space: nowrap;
}
.product-detail .detail-flash-progess .progress {
  background: #cfcfcf;
  border-radius: 20px;
  height: 18px;
}
.product-detail .detail-flash-progess .progress-bar {
  background-color: #c73030;
}
.product-detail .detail-flash {
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-detail .detail-flash img {
  width: 15px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}
.product-detail .detail-flash .flash-time {
  gap: 10px;
}
.product-detail .detail-flash .count-down {
  gap: 4px;
}
.product-detail .detail-flash .count-down span {
  width: 26px;
  height: 21px;
  position: relative;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 12px;
  color: #000;
}

#detail-thumbnail-image {
  width: 350px;
  height: 385px;
  -o-object-fit: contain;
     object-fit: contain;
}
